#Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database

1. SQL databases are relational, and NoSQL databases are non-relational.
2. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
3. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
4. SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
5. SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

e.g CREATE TABLE table_name
(
column_1 datatype,
column_2 datatype,
column_3 datatype,
....
);

ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

e.g ALTER TABLE table_name
ADD column_name datatype;

TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

e.g TRUNCATE TABLE table_name;

DROP :
This command is used to remove an existing table along with its structure from the Database.

e.g DROP TABLE table_name;

RENAME:It is possible to change name of table with or without data in it using simple RENAME command. We can rename any table object at any point of time.

e.g RENAME TABLE table_name To new_table_name;

#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. Tables and formulas are helpful when communicating with data stored up to a point in a database through SQL (Structured Query Language), but a time comes when we actually want to execute some fairly complicated data interactions. We will also need the Data Manipulation Language in that situation.


INSERT Command:
This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction. This is often used to connect an unused tag to the documents.

e.g INSERT INTO table_name ('column_name1' datatype, 'column_name2' datatype)
VALUES ('value1', 'value2');

UPDATE Command:
This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.

e.g UPDATE table_name
SET column_name = value
WHERE condition;

DELETE Command
It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.

e.g DELETE FROM table_name
WHERE condition;

#Q4. What is DQL? Explain SELECT with an example.

DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows - it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement.

e.g SELECT column1,column2 FROM table_name;

#Q5. Explain Primary Key and Foreign Key.

Primary Key:
1. A primary key is used to ensure data in the specific column is unique.
2. It uniquely identifies a record in the relational database table.
3. Only one primary key is allowed in a table.
4. It does not allow NULL values.
5. Its value cannot be deleted from the parent table.


Foreign Key:
1. A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
2. It refers to the field in a table which is the primary key of another table.
3. Whereas more than one foreign key is allowed in a table.
4. It can also contain NULL values.
5. Its value can be deleted from the child table.

#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host = 'localhost'
    user = 'abc'
    password = 'password'
)

#Above code connects mysql to python

cursor() method is used to create a cursor object.

execute() method accepts a MySQL query as a parameter and executes the given query

fetchall() method retrieves all the rows in the result set of a query and returns them as list of tuples. (If we execute this after retrieving few rows it returns the remaining ones)

fetchone() method fetches the next row in the result of a query and returns it as a tuple.

fetchmany() method is similar to the fetchone() but, it retrieves the next set of rows in the result set of a query, instead of a single row.

fetchwarnings() method returns the warnings generated by the last executed query.

executemany() method accepts a list series of parameters list. Prepares an MySQL query and executes it with all the parameters.

Info() method gives information about the last query.

close() method is used to close the current cursor object.

callproc() method is used to call existing procedures MySQL database.

#Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses are as follows:
1. FROM
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. ORDER BY
7. LIMIT